/* Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* css reset */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* body part */

body {
    height: 100vh;
} 

/* page 2 container */

.page-2-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 80px;
}

/* divs style */


.deposit-div,
.withdraw-div,
.balance-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 400px;
    height: 230px;
    border-radius: 10px;
    font-size: 2em;
    padding: 60px;

}

/* separate div style */

.deposit-div {
    background: #0ccaf0;

}
.withdraw-div {
    background: #1a8755;
}

.balance-div {
    background: #0e6efe;
}



/* third container */

.third-container {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding-top: 50px;
}

/* second page input div's style */



.deposit-input-div,
.withdraw-input-div {
    max-width: 700px;
    width: 700px;
    height: 270px;
    background: white;
    box-shadow: 7px 7px 15px rgb(183, 176, 176),  -5px 0px 15px rgb(183, 176, 176);
    border-radius: 10px;
}



/* form style */


form {
    display: flex;
    flex-direction: column;
    /* using gap instead of margin, gap is better for responsive */
    gap: 50px;
    padding: 50px;
}

/* deposit-withdraw text */

.deposit-txt, 
.withdraw-txt {
    position: relative;
    top: 30px;
    left: 53px;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: capitalize;
}
/* inputs */

#deposit-input,
#withdraw-input, 
#depositBtn,
#withdrawBtn {
    max-width: 99%;
    width: 99%;
    height: 30px;
    border: 2px solid lightgrey;
    padding: 20px;
    outline: none;

}

#depositBtn,
#withdrawBtn {
    max-width: 100px;
    background: #188853;
    padding: 0;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

#depositBtn:hover,
#withdrawBtn:hover {
    max-width: 150px;
    width: 150px;
    letter-spacing: 3px;
    cursor: pointer;    
}


/* responsive */

@media only screen and (max-width: 1000px) {
    .page-2-container,
    .third-container {
        flex-direction: column;
        align-items: center;
    }

    .third-container {
        gap: 100px;
    }

}




@media only screen and (max-width: 413px) {
    .page-2-container,
    .third-container {
        flex-direction: column;
        align-items: center;
    }

    .third-container {
        gap: 100px;
    }

    .deposit-input-div,
    .withdraw-input-div {
        width: 400px;
    }

}


@media only screen and (max-width: 620px) {
    .page-2-container,
    .third-container {
        flex-direction: column;
        align-items: center;
    }

    .third-container {
        gap: 100px;
    }

    .deposit-input-div,
    .withdraw-input-div {
        width: 400px;
    }

}




@media only screen and (max-width: 340px) {
    .page-2-container,
    .third-container {
        flex-direction: column;
        align-items: center;
    }

    .third-container {
        gap: 100px;
    }

    .deposit-input-div,
    .withdraw-input-div {
        width: 400px;
    }

}